---
import Layout from '../layouts/Layout.astro';
import Pill from '../components/Pill.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import ArtStationIcon from '../icons/ArtStation.astro';
import SketchfabIcon from '../icons/Sketchfab.astro';
import MailIcon from '../icons/Mail.astro';
import ExpIcon from '../icons/ExpIcon.astro';
import CodeIcon from '../icons/Code.astro';
import AboutMeIcon from '../icons/User.astro';
import WhatsAppIcon from '../icons/WhatsApp.astro';
import DecryptedText from '../components/ReactComponents/decryptedText.jsx';
import Badge from '../components/Badge.astro';
import VerticalTimeLine from '../components/VerticalTimeLine.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import ThreeDProjects from '../components/3dProjects.astro';
import Sketchfab from '../icons/Sketchfab.astro';
---

<Layout
  title="Juan José Camacho - Portafolio"
  description="Portafolio de Juan José Camacho, estudiante de Ingeniería Multimedia y desarrollador y programador frontend/backend."
>
  <main>
    <SectionContainer class="pt-44 pb-32">
      <div class="flex items-center gap-x-4 pb-8">
        <DecryptedText
          text="Hey, soy Juan José Camacho"
          speed={80}
          maxIterations={30}
          sequential={false}
          animateOn="view"
          className="font-bold text-5xl text-white"
          encryptedClassName="text-gray-500 text-5xl font-bold"
          client:load
          sequential={true}
          revealDirection="start"
        />
        <div class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </div>
      <h2 class="text-2xl w-1/2 text-center opacity-80 text-wrap mb-14 mt-12">
        Estudiante de Ingeniería Multimedia con experiencia en arte 3D y desarrollo
        frontend/backend.
      </h2>

      <nav class="flex gap-x-4 my-12">
        <Pill href="#">
          <LinkedInIcon class="size-5" />
          LinkedIn
        </Pill>
        <Pill href="https://github.com/JuanJoII">
          <GitHubIcon class="size-5" />
          GitHub
        </Pill>
        <Pill href="https://www.artstation.com/jj_21">
          <ArtStationIcon class="size-5" />
          ArtStation
        </Pill>
        <Pill href="https://sketchfab.com/juanjose34251">
          <SketchfabIcon class="size-5" />
          Sketchfab
        </Pill>
        <Pill href="https://wa.me/573146420343">
          <WhatsAppIcon class="size-5" />
          WhatsApp
        </Pill>
        <Pill href="mailto:juanjose34251@gmail.com">
          <MailIcon class="size-5" />
          Gmail
        </Pill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia" class="pb-16">
      <div class="w-5xl mb-8 items-center flex flex-row gap-x-4">
        <ExpIcon class="size-8" />
        <h2 class="text-4xl font-semibold">Experiencia</h2>
      </div>
      <div class="w-full max-w-5xl mx-auto flex flex-col gap-y-16">
        <VerticalTimeLine />
      </div>
    </SectionContainer>
    <SectionContainer id="proyectos" class="pb-16 min-h-screen">
      <div class="w-5xl mb-8 items-center flex flex-row gap-x-4 justify-start">
        <CodeIcon class="size-8" />
        <h2 class="text-4xl font-semibold">Proyectos De Código Destacados</h2>
      </div>
      <div class="w-full max-w-5xl mx-auto flex flex-col gap-y-16">
        <Projects />
      </div>
    </SectionContainer>
    <SectionContainer class="pb-16">
      <div class="w-5xl mb-8 items-center flex flex-row gap-x-4 justify-start">
        <Sketchfab class="size-8" />
        <h2 class="text-4xl font-semibold">Proyectos 3D Destacados</h2>
      </div>
      <div class="w-full max-w-5xl mx-auto flex flex-col gap-y-16">
        <ThreeDProjects />
      </div>
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <div class="w-5xl mb-8 ml-18 items-center flex flex-row gap-x-4 justify-start">
        <AboutMeIcon class="size-8" />
        <h2 class="text-4xl font-semibold">Sobre Mí</h2>
      </div>
    </SectionContainer>
  </main>
</Layout>
