---
import Layout from '../layouts/Layout.astro';
import Pill from '../components/Pill.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import ArtStationIcon from '../icons/ArtStation.astro';
import SketchfabIcon from '../icons/Sketchfab.astro';
import MailIcon from '../icons/Mail.astro';
import ExpIcon from '../icons/ExpIcon.astro';
import DecryptedText from '../components/ReactComponents/decryptedText.jsx';
import Badge from '../components/Badge.astro';
import VerticalTimeLine from '../components/VerticalTimeLine.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout
  title="Juan José Camacho - Portafolio"
  description="Portafolio de Juan José Camacho, estudiante de Ingeniería Multimedia y desarrollador y programador frontend/backend."
>
  <main>
    <SectionContainer class="pt-44 pb-24">
      <div class="flex items-center gap-x-4 pb-8">
        <DecryptedText
          text="Hey, soy Juan José Camacho"
          speed={80}
          maxIterations={30}
          sequential={false}
          animateOn="view"
          className="font-bold text-5xl text-white"
          encryptedClassName="text-gray-500 text-5xl font-bold"
          client:load
          sequential={true}
          revealDirection="start"
        />
        <div class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </div>
      <h2 class="text-2xl w-1/2 text-center opacity-80 text-wrap">
        Estudiante de Ingeniería Multimedia con experiencia en arte 3D y desarrollo
        frontend/backend. Manejo herramientas como Autodesk Maya, Blender, Substance Painter, y
        motores como Unity. En desarrollo, domino Python, JavaScript, y frameworks como Django,
        FastAPI, ASP.NET, y Vite.
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <Pill href="#">
          <LinkedInIcon class="size-5" />
          LinkedIn
        </Pill>
        <Pill href="https://github.com/JuanJoII">
          <GitHubIcon class="size-5" />
          GitHub
        </Pill>
        <Pill href="https://www.artstation.com/jj_21">
          <ArtStationIcon class="size-5" />
          ArtStation
        </Pill>
        <Pill href="https://sketchfab.com/juanjose34251">
          <SketchfabIcon class="size-5" />
          Sketchfab
        </Pill>
        <Pill href="#">
          <MailIcon class="size-5" />
          juanjose34251@gmail.com
        </Pill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <div class="w-1/2 mb-8 ml-4 items-center flex flex-row gap-x-4 justify-start">
        <ExpIcon class="size-8" />
        <h2 class="text-4xl font-semibold">Experiencia</h2>
      </div>
      <VerticalTimeLine />
    </SectionContainer>
  </main>
</Layout>
