---
import Layout from '../layouts/Layout.astro';
import Pill from '../components/Pill.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import ArtStationIcon from '../icons/ArtStation.astro';
import SketchfabIcon from '../icons/Sketchfab.astro';
import MailIcon from '../icons/Mail.astro';
import ExpIcon from '../icons/ExpIcon.astro';
import CodeIcon from '../icons/Code.astro';
import AboutMeIcon from '../icons/User.astro';
import WhatsAppIcon from '../icons/WhatsApp.astro';
import DecryptedText from '../components/ReactComponents/decryptedText.jsx';
import Badge from '../components/Badge.astro';
import VerticalTimeLine from '../components/VerticalTimeLine.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import ThreeDProjects from '../components/3dProjects.astro';
import Sketchfab from '../icons/Sketchfab.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout
  title="Juan José Camacho - Portafolio"
  description="Portafolio de Juan José Camacho, estudiante de Ingeniería Multimedia y desarrollador y programador frontend/backend."
>
  <main>
    <SectionContainer class="pt-44 pb-10 sm:pb-20 md:pb-24 lg:pb-8">
      <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-x-4 pb-8 px-4">
        <DecryptedText
          text="Hey, soy Juan José Camacho"
          speed={80}
          maxIterations={30}
          sequential={false}
          animateOn="view"
          className="font-bold text-xl sm:text-4xl md:text-4xl lg:text-5xl text-white"
          encryptedClassName="text-gray-500 text-xl sm:text-4xl md:text-4xl lg:text-5xl font-bold"
          client:load
          sequential={true}
          revealDirection="start"
        />
        <div class="flex justify-center md:justify-start items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </div>
      <h2
        class="text-base sm:text-lg md:text-xl lg:text-2xl w-full sm:w-3/4 md:w-2/3 lg:w-1/2 mx-auto text-center opacity-80 text-wrap mb-14 mt-4 lg:mt- px-4"
      >
        Estudiante de Ingeniería Multimedia con experiencia en <strong>arte 3D</strong> y desarrollo
        <strong>Fullstack.</strong>
      </h2>
    </SectionContainer>

    <nav class="flex flex-wrap justify-center gap-4 mb-18 px-4">
      <Pill href="https://www.linkedin.com/in/juan-josé-camacho-b95354345">
        <LinkedInIcon class="size-5" />
        LinkedIn
      </Pill>
      <Pill href="https://github.com/JuanJoII">
        <GitHubIcon class="size-5" />
        GitHub
      </Pill>
      <Pill href="https://www.artstation.com/jj_21">
        <ArtStationIcon class="size-5" />
        ArtStation
      </Pill>
      <Pill href="https://sketchfab.com/juanjose34251">
        <SketchfabIcon class="size-5" />
        Sketchfab
      </Pill>
      <Pill href="https://wa.me/573146420343">
        <WhatsAppIcon class="size-5" />
        WhatsApp
      </Pill>
      <Pill href="mailto:juanjose34251@gmail.com">
        <MailIcon class="size-5" />
        Gmail
      </Pill>
    </nav>
  </main>
  <SectionContainer id="experiencia" class="pb-24 pt-6">
    <div
      class="w-full max-w-5xl mb-8 sm:mb-10 md:mb-12 flex flex-row items-center gap-x-3 sm:gap-x-4"
    >
      <ExpIcon class="size-6 sm:size-7 md:size-8" />
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold">Experiencia</h2>
    </div>

    <div class="w-full max-w-5xl mx-auto flex flex-col gap-y-12 sm:gap-y-14 md:gap-y-16">
      <VerticalTimeLine />
    </div>
  </SectionContainer>
  <SectionContainer id="proyectos" class="pb-16 min-h-screen">
    <div
      class="w-full max-w-5xl mb-8 sm:mb-10 md:mb-12 flex flex-row items-center gap-x-3 sm:gap-x-4"
    >
      <CodeIcon class="size-6 sm:size-7 md:size-8" />
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold">Proyectos De Código Destacados</h2>
    </div>
    <div class="w-full max-w-5xl mx-auto flex flex-col gap-y-12 sm:gap-y-14 md:gap-y-16">
      <Projects />
    </div>
  </SectionContainer>
  <SectionContainer class="pb-16">
    <div
      class="w-full max-w-5xl mb-8 sm:mb-10 md:mb-12 flex flex-row items-center gap-x-3 sm:gap-x-4"
    >
      <Sketchfab class="size-6 sm:size-7 md:size-8" />
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold">Proyectos 3D Destacados</h2>
    </div>
    <div class="w-full max-w-5xl mx-auto flex flex-col gap-y-12 sm:gap-y-14 md:gap-y-16">
      <ThreeDProjects />
    </div>
  </SectionContainer>
  <SectionContainer id="sobre-mi" class="pb-6">
    <div
      class="w-full max-w-5xl mb-8 sm:mb-10 md:mb-12 flex flex-row items-center gap-x-3 sm:gap-x-4"
    >
      <AboutMeIcon class="size-6 sm:size-7 md:size-8" />
      <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold">Sobre Mí</h2>
    </div>
    <div class="w-full max-w-5xl mx-auto flex flex-col gap-y-12 sm:gap-y-14 md:gap-y-16">
      <AboutMe />
    </div>
  </SectionContainer>
</Layout>
