---
import Layout from '../layouts/Layout.astro';
import DecryptedText from '../components/ReactComponents/decryptedText';
import Badge from '../components/Badge.astro';
---

<Layout>
	<main>
		<section class="flex flex-col items-center justify-center mt-20 w-full mx-auto">
			<div class="flex items-center gap-x-4 pb-8">
					<DecryptedText 
					text="Hey, soy Juan José Camacho"
					speed={80}             
					maxIterations={30}         
					sequential={false}        
					animateOn="view"          
					className="font-bold text-5xl text-white"
					encryptedClassName="text-gray-500 text-5xl font-bold"
					client:load
					sequential={true}
					revealDirection="start"
				/>
				<div class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</div>
			</div>
			<h2 class="text-xl w-3/5 text-center opacity-80">
				Ingeniero multimedia y desarollador web full stack de Bogotá, Colombia. Especializado en crear experiencias digitales atractivas y funcionales.
			</h2>
		</section>
	</main>
</Layout>
