<div
  class="grid grid-cols-2 md:grid-cols-3 gap-12 bg-gray-800/65 border-gray-500 px-8 py-12 rounded-lg shadow-2xl shadow-white/15 justify-items-center"
>
  <div class="sketchfab-embed-wrapper w-[300px] h-[200px] mb-5">
    <iframe
      loading="lazy"
      title="Wizzard Tower"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/57220e6a497f4413b3aca13c0e90e019/embed?ui_theme=dark"
      class="w-full h-full"
    >
    </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a
        href="https://sketchfab.com/3d-models/wizzard-tower-57220e6a497f4413b3aca13c0e90e019?utm_medium=embed&utm_campaign=share-popup&utm_content=57220e6a497f4413b3aca13c0e90e019"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        Wizzard Tower
      </a> by <a
        href="https://sketchfab.com/juanjose34251?utm_medium=embed&utm_campaign=share-popup&utm_content=57220e6a497f4413b3aca13c0e90e019"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        juanjose34251
      </a> on <a
        href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=57220e6a497f4413b3aca13c0e90e019"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a
      >
    </p>
  </div>

  <div class="sketchfab-embed-wrapper w-[300px] h-[200px] mb-5">
    <iframe
      loading="lazy"
      title="Didier's scythe"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/3c5f3e1979544d01a938f40c0acf8637/embed?ui_theme=dark"
      class="w-full h-full"
    >
    </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a
        href="https://sketchfab.com/3d-models/didiers-scythe-3c5f3e1979544d01a938f40c0acf8637?utm_medium=embed&utm_campaign=share-popup&utm_content=3c5f3e1979544d01a938f40c0acf8637"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        Didier's scythe
      </a> by <a
        href="https://sketchfab.com/juanjose34251?utm_medium=embed&utm_campaign=share-popup&utm_content=3c5f3e1979544d01a938f40c0acf8637"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        juanjose34251
      </a> on <a
        href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=3c5f3e1979544d01a938f40c0acf8637"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a
      >
    </p>
  </div>

  <div class="sketchfab-embed-wrapper w-[300px] h-[200px] mb-5">
    <iframe
      loading="lazy"
      title="Fantasy House"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/7e385ae61e7f4f06a2d78324b89a2036/embed?ui_theme=dark"
      class="w-full h-full"
    >
    </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a
        href="https://sketchfab.com/3d-models/fantasy-house-7e385ae61e7f4f06a2d78324b89a2036?utm_medium=embed&utm_campaign=share-popup&utm_content=7e385ae61e7f4f06a2d78324b89a2036"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        Fantasy House
      </a> by <a
        href="https://sketchfab.com/juanjose34251?utm_medium=embed&utm_campaign=share-popup&utm_content=7e385ae61e7f4f06a2d78324b89a2036"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        juanjose34251
      </a> on <a
        href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=7e385ae61e7f4f06a2d78324b89a2036"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a
      >
    </p>
  </div>

  <div class="sketchfab-embed-wrapper w-[300px] h-[200px]">
    <iframe
      loading="lazy"
      title="ONI 👹"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/074f012279f946a5a8144878d4a0e601/embed?ui_theme=dark"
      class="w-full h-full"
    >
    </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a
        href="https://sketchfab.com/3d-models/oni-074f012279f946a5a8144878d4a0e601?utm_medium=embed&utm_campaign=share-popup&utm_content=074f012279f946a5a8144878d4a0e601"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        ONI 👹
      </a> by <a
        href="https://sketchfab.com/juanjose34251?utm_medium=embed&utm_campaign=share-popup&utm_content=074f012279f946a5a8144878d4a0e601"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        juanjose34251
      </a> on <a
        href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=074f012279f946a5a8144878d4a0e601"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a
      >
    </p>
  </div>

  <div class="sketchfab-embed-wrapper w-[300px] h-[200px]">
    <iframe
      loading="lazy"
      title="My Room"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/a3da168074374001947bf895e28a8433/embed?ui_theme=dark"
      class="w-full h-full"
    >
    </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a
        href="https://sketchfab.com/3d-models/my-room-a3da168074374001947bf895e28a8433?utm_medium=embed&utm_campaign=share-popup&utm_content=a3da168074374001947bf895e28a8433"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        My Room
      </a> by <a
        href="https://sketchfab.com/juanjose34251?utm_medium=embed&utm_campaign=share-popup&utm_content=a3da168074374001947bf895e28a8433"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        juanjose34251
      </a> on <a
        href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=a3da168074374001947bf895e28a8433"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a
      >
    </p>
  </div>

  <div class="sketchfab-embed-wrapper w-[300px] h-[200px]">
    <iframe
      loading="lazy"
      title="ENT FORM D&D"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/3fbd47dd93254d24bebf171341f32871/embed"
      class="w-full h-full"
    >
    </iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a
        href="https://sketchfab.com/3d-models/ent-form-dd-3fbd47dd93254d24bebf171341f32871?utm_medium=embed&utm_campaign=share-popup&utm_content=3fbd47dd93254d24bebf171341f32871"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        ENT FORM D&amp;D
      </a> by <a
        href="https://sketchfab.com/juanjose34251?utm_medium=embed&utm_campaign=share-popup&utm_content=3fbd47dd93254d24bebf171341f32871"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;"
      >
        juanjose34251
      </a> on <a
        href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=3fbd47dd93254d24bebf171341f32871"
        target="_blank"
        rel="nofollow"
        style="font-weight: bold; color: #1CAAD9;">Sketchfab</a
      >
    </p>
  </div>
</div>
