---
import AnimatedContent from './ReactComponents/AnimatedContent.jsx';
---

<AnimatedContent
  distance={160}
  duration={0.8}
  delay={0.8}
  initialOpacity={0}
  scale={0.5}
  client:load
>
  <a
    class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 hover-pill"
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
    role="link"
  >
    <slot />
  </a>
</AnimatedContent>

<style>
  .hover-pill:hover {
    background: rgba(255, 255, 255, 0.1);
    scale: 1.05;
    transition: all 0.3s ease-in-out;
  }
</style>
