---
const { title, badge, date, description } = Astro.props;
---

<h3 class="flex items-center mb-2 text-lg font-semibold text-[#f7e07a] gap-x-2">
  {title}
  {
    badge && (
      <span class="bg-[#3b2b15] text-[#f7e07a] text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm">
        {badge}
      </span>
    )
  }
</h3>
<time class="block mb-2 text-sm font-normal leading-none text-[#f7e07a]/80">
  {date}
</time>
<p class="mb-4 text-base font-normal text-sky-100/90">
  {description}
</p>
