---
import TimeLineIcon from '../icons/TimeLineIcon.astro';
import Badge from './Badge.astro';
import TimeLineItem from './TimeLineItem.astro';

const ALL_TIMELINE_ITEMS = [
  {
    title: 'Artista 3D – “Alas de Calabozos”',
    badge: 'Artista 3D',
    date: '20 de Mayo 2025',
    description:
      'Modelado y texturizado del personaje "ENT" usando Maya, Blender y Substance Painter. Optimizado para Unity.',
  },
  {
    title: 'Covers & Miniaturas – Prod. MarcellFrank',
    badge: 'Diseñador Gráfico',
    date: '10 de Marzo 2024 - presente',
    description: 'Composición y montaje visual para portadas musicales usando Adobe Photoshop.',
  },
  {
    title: 'Web Yeez-Clouds',
    badge: 'Desarrollador Fullstack',
    date: '20 de Julio 2025',
    description: 'Desarrollo de sitio e-commerce para marca de ropa usando Reflex y Tailwind CSS.',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    ALL_TIMELINE_ITEMS.map((item) => (
      <li class="mb-16 ms-6 mt-6">
        <TimeLineIcon />
        <TimeLineItem
          title={item.title}
          badge={item.badge}
          date={item.date}
          description={item.description}
        />
      </li>
    ))
  }
</ol>
